<div class="mw7 center pt3">

	<div class="measure-narrow center mb4">
		<img src="/img/logo.svg" alt="ByteCascade logo" class="db w4 center mb4 br0">
		<p class="f3 lh-title light-gray b tc mb2">{{ .Site.Data.footer.title }}</p>
		<p>{{ .Site.Data.footer.blurb }}</p>

		{{ partial "newsletter-form" . }}
	</div>

	<div class="flex-ns justify-between">

		<div>
			<h3 class="f4 b lh-title mb1 primary">ReviByte</h3>
			<ul class="mb3">
				{{ range .Site.Data.footer.revibyte_links }}
				<li><a href="{{ .url }}" class="link">{{ .title }}</a></li>
				{{ end }}
			</ul>
		</div>

		<div>
			<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
			<ul class="mb3">
				{{ range .Site.Data.footer.more_links }}
				<li><a href="{{ .url }}" class="link">{{ .title }}</a></li>
				{{ end }}
			</ul>
		</div>

		<div>
			<h3 class="f4 b lh-title mb2 primary">Social media</h3>
			<ul class="mhn2">
				{{ range .Site.Data.footer.social }}
				{{ partial "social-icon" (dict "link" .link "svg" .svg "alt" .alt) }}
				{{ end }}
			</ul>
		</div>

	</div>
</div>
